*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top,rgb(0, 0, 0,0.5)50%,rgb(0, 0, 0,0.5)50%),url(2.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
}
.navbar{
    width: 1200px;
    height:75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;

}
ul li a:hover{
    color:#ff7200;
}

.content{
    width: 1200px;
    height:auto;
    margin: auto;
    color: #ffffff;
    position: relative;
}
.content .par{
    font-family: cursive;
    font-size: 17px;
    padding-left:20px;
    padding-bottom:25px;
    letter-spacing: 1.2px;
    line-height: 3opx;
}
.content h1{
    text-align: left;
    font-family:'Times New Roman' ;
    font-size: 60px;
    padding-left: 0px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width:120px;
    height:60px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 60px;
    font: size 18px;
    border-radius: 10px;
    cursor:pointer;
    transition: .4 ease

}
.content .cn {
    margin-left: 10px;
    font-family: cursive ;
    font-size: larger;
    text-decoration:none  ;
    color:black;
    transition: .3s ease;
}
.content .cn {
    margin:auto
    font-family: cursive ;
    font-size: larger;
    text-decoration:none  ;
    color:black;
    transition: .3s ease;
}
.cn:hover{
    background-color:#fff;
}

.content span{
    color:#ff7200;
    font-size: 80px;
}
.form {
    width: 350px;
    height:520px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position:absolute;
    top:-50px;
    left:900px;
    border-radius:10px;
    padding:25px;
    text-align: center;
}

.form h1{
    width: 220px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 35px;
    background-color: #fdfdfd;
    border-radius:10px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 8px;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }


